DATASOURCE_URL=YOUR_DATABASE_URL
DATASOURCE_USERNAME=YOUR_DATABASE_USERNAME
DATASOURCE_PASSWORD=YOUR_DATABASE_PASSWORD
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY
LOCAL_URL=YOUR_LOCAL_URL
PROD_URL=YOUT_PROD_URL